.main-div {
  display: grid;
}

.dog-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 40em;
  margin-top: 3em;
  align-self: center;
  justify-self: center;
  /* align-items: end; */
}

.dog-image {
  height: 15em;
  width: 15em;
}

.image-div, .search-div {
  justify-self: center;
  align-self: center;
  display: grid;
} 
